{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": true
            },
            "useBuiltIns": "entry",
            "modules": false,
            "debug": true
        }]
    ]
}