{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": true
            },
            "useBuiltIns": "entry",
            "debug": true
        }],
        "@babel/preset-typescript"
    ]
}